* {
  box-sizing: border-box;
}

ol,ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery{
  width: 1128px;
  margin: 24px 156px;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.gallery-image{
  width: 360px;
  height: 200px;
}